{{ define "layouts/base" }}

<html lang="en">
<head>
    <title>Piper - Spotify & Last.fm Tracker</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
{{ block "content" . }}{{ end }}

</body>
</html>
{{ end }}
