{{ define "nav" }}
  <nav>
    <div>
      <a href='/'>home</a>
    </div>
    <div>
      {{ if not .IsAuthenticated }}
        <a href='/login'>login</a>
      {{ else  }}
        <a href='/logout'>logout</a>
      {{ end }}        
    </div>
  </nav>
{{ end }}
