* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: #d0d8d8;
  color: #008080;
  overflow-y: scroll;
}

header, nav, main, footer {
  padding: 2px calc((100% - 800px) / 2) 0;
}

main {
  margin-top: 54;
  margin-bottom: 54px;
  min-height: calc(100vh - 345px);
  overflow: auto;
}

h1 a {
  font-size: 36px;
  font-weight: bold;
  height: 36px;
  padding-left: 50px;
  position: relative;
}

h1 a:hover {
  text-decoration: none;
  color: #34495e;
}

h2 {
  font-size: 22px;
  margin-bottom: 36px;
  position: relative;
  top: -9px;
}

header {
  border-bottom: 1px solid #e4e5e7;
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 27px;
  text-align: left;
}

footer {
  border-top: 1px solid #e4e5e7;
  padding-top: 17px;
  padding-bottom: 15px;
  background: #f7f9fa;
  height: 60px;
  color: ##6a6c6f;
  text-align: center;
}
